*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #0A0908;
}
body{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    padding: 20px;
    display:flex;
    flex-direction: column;

}
header,nav{
    font-size: 2rem;
    position:sticky;
    background-color: #536B78;
    border: 2px black;
    border-radius: 15px;
    top:0;
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;

}
.heading{
    border: 2px black;
    border-radius: 15px;
    color:#D8D4D5;
}
.navitems{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    color: #D8D4D5;
    justify-content: space-evenly;
    
}
li a{
    text-decoration: none;
    color: #D8D4D5;
}
/* Styles for the form container */
.form-container {
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the input fields */
  .form-input,.form-textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the button */
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #1e87d2;
  }
  /* .given-text{
    font-weight: bold;
    
  } */