<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Page</title>
    <link rel="stylesheet" href="static/frontend.css">
</head>
<body>
    <header class="head">
        <h1 class="heading">PyScanner </h1> 
        <nav class="navbar">
            <ul class="navitems">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('Info')}}" >Info</a></li>
                <li><a href="{{url_for('vehicle')}}">Vehicle Numberplate Detector</a></li>
                <li><a href="{{url_for('pdfext')}}">Extract From PDF</a></li>
                
            </ul>
        </nav></header>
        <main class="mainfunction">
            <!-- <form action="/upload" method="post" class="form-container" enctype="multipart/form-data"> -->
            <!-- <label for="info" class="form-label"><h1>This is a info page!!!!!!</h1></label>     -->
            <!-- </form> -->
            <h1 color="white">Hello</h1>
            </main>
</body>
</html>