<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/frontend.css">
    <title>Extract NumberPlate</title>
</head>
<body>
    <header class="head">
        <h1 class="heading">PyScanner </h1> 
        <nav class="navbar">
            <ul class="navitems">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('Info')}}" class="info">Info</a></li>
                <li><a href="{{url_for('vehicle')}}">Vehicle Numberplate Detector</a></li>
                <li><a href="{{url_for('pdfext')}}">Extract From PDF</a></li>
                <li><a href="usecase.html">Bill Manager</a></li>
            </ul>
        </nav></header>
        <main class="mainfunction">
            <form action="/uploadV" method="post" class="form-container" enctype="multipart/form-data">
                <label for="selectVehicle">Select Your Vehicle Image:</label>
                <input type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.png" class="form-input"/>
                <button class="form-button">Extract Number Plate</button>
                <textarea name="text" id="numberplate" cols="30" rows="10" class="form-textarea">Your Number plate is : {{given}}</textarea>
            </form>
        </main>
  
</body>
</html>